[Unit]
Description=Pardus Parental Control
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/bin/ppc-service
Type=exec

[Install]
WantedBy=multi-user.target