[Unit]
Description=Pardus Parental Control - Activator Service
Requisite=graphical-session.target
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
Restart=no
Slice=app.slice
ExitType=cgroup
ExecStart=/usr/share/pardus/pardus-parental-control/src/launch-ppcservice.sh

[Install]
WantedBy=graphical-session.target
