[Unit]
Description=Pardus Parental Control - Session Agent
PartOf=graphical-session.target
After=graphical-session.target
ConditionUser=!@system

[Service]
Type=exec
Slice=app.slice
ExecStart=/usr/share/pardus/pardus-parental-control/src/PPCAgent.py
Restart=on-failure

[Install]
WantedBy=graphical-session.target
