image#logo {  
    animation-name: floating_logo;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    margin: 32px;
}
@keyframes floating_logo {
    0% { -gtk-icon-transform: translate(0,  0px); }
    100%  { -gtk-icon-transform: translate(0, 7px); }  
}

label#logotitle {
    font-size: x-large;
    font-weight: bold;
}

label#service_active {
    color: green;
}

button#btn_service_deactive {
	border-radius: 50%;
	padding: 5px;
}

button#btn_service_active {
	border-radius: 50%;
	padding: 5px;
	color: green;
}