[Desktop Entry]
Type=Application
Name=Pardus Parental Control Service
Comment=Pardus Parental Control Service. Applies settings on every login.
Exec=/usr/bin/pkexec /usr/share/pardus/pardus-parental-control/src/PPCActivator.py
NoDisplay=true
StartupNotify=true
X-GNOME-UsesNotifications=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
